<div class="container">
    <div class="img-container">
        <img src="assets/imgs/lg-white.png" alt="logo" />
    </div>
    <div class="button-container">
        <button class="button" routerLink="../introduction">Introdução</button>
        <button class="button-upper" routerLink="../contact">Contato</button>
    </div>
    <div class="title-container">
        <h2>Introdução</h2>
        <div class="line">
            <div class="highlight"></div>
        </div>
    </div>
    <div class="content">
        <p>{{ data?.text }}</p>
    </div>
</div>